@media (max-width: 992px) and (min-width:768px) {

    body {
        margin: 0;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 55px;
        width: 97%;
    }

    .logo {
        padding-left: 10px;
    }

    .navmenu {
        padding-right: 10px;
    }

    .logo-png {
        width: 45%;
    }


    #Hébergement {
        height: 100%;
    }

    #liste-menu-A, #liste-menu-H {
        list-style: none;
        display: inline-block;
        font-family: 'Raleway', sans-serif;

    }

    #liste-menu-A a:active {
        border-top: solid #0065FC;
        padding-top: 50px;
        color: #0065FC;

    }

    #liste-menu-H a:active {
        padding-top: 50px;
        border-top: solid #0065FC;
        color: #0065FC;
    }

    #liste-menu-A {
        margin-left: 50px;
    }

    #liste-menu-H {
        margin-left: 220px;
    }

    h1 {
        margin-left: 10px;
        font-size: 30px;
        font-family: 'Raleway', sans-serif;
        font-style: italic;
    }

    .p-entête {
        margin-left: 10px;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
    }

    .entête-h1-searchbar {
        margin-top: 50px;
    }

    .searchbar {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-left: 10px;
    }

    .barre {
        width: 300px;
        height: 45px;
        border: solid 1px #F2F2F2;
        font-family: 'Raleway', sans-serif;
        font-size: 17px;
        font-weight: bold;
    }

    .fas-fa-search {
        visibility: hidden;
    }

    .iconsize-searchbar {
        height: 29px;
        width: 40px;
        text-align: center;
        border: solid #F2F2F2;
        border-top-left-radius: 18px;
        border-bottom-left-radius: 18px;
        background-color: #F2F2F2;
        padding-top: 10px;
    }

    .btn-recherche {
        border: solid #0065FC;
        border-top-right-radius: 18px;
        border-bottom-right-radius: 18px;
        width: 140px;
        height: 45px;
        text-align: center;
        background-color: #0065FC;
        color: white;
        font-family: 'Raleway', sans-serif;
        font-size: 17px;
        transition: calc(1s);
    }

    .btn-recherche:hover {
        background-color: #F2F2F2;
        color: black;
        border-color: #F2F2F2;
    }

    li a {
        text-decoration: none;
        color: black;
    }

    .liste-entête {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 0px;
        margin-left: 0px;
    }

    .div-filtre {
        height: min-content;
        margin-bottom: 0px;
    }

    .li-filtre, .li-filtre-big, .li-filtre-small, .li-filtre-small-or {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        border: solid #F2F2F2;
        border-radius: 50px;
        text-align: center;
        padding-top: 10px;
        width: 130px;
        height: 30px;
    }


    .li-filtre-big {
        width: 230px;
        height: 30px;
    }

    .li-filtre-small {
        width: 130px;
    }

    .barre-entête {
        width: 97%;
        margin-top: 0px;
        margin-left: 0px;
        margin: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .texte-filtre, .texte-filtre-first {
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        margin-left: 10px;
    }

    .a-filtre {
        transition: 1s;
    }

    .texte-filtre, .texte-filtre-first {
        color: black;
    }

    .texte-filtre:hover, .texte-filtre-first:hover {
        color: #0065FC;
    }

    .a-filtre:hover {
        transform: scale(1.2);
    }

    .li-filtre-big {
        width: 210px;
        height: 30px;
    }

    .li-filtre-small, .li-filtre-small-or {
        width: 130px;
        margin-right: 15px;
    }

    .li-filtre-small-or {
        width: 170px;
        margin-right: 0px;
    }

    .li-filtre-small{
        width: 100%;
    }

    .a-filtre {
        width: min-content;
    }


    .fa-liste {
        color: #0065FC;
        border: solid #DEEBFF;
        height: 30px;
        width: 40px;
        border-radius: 100%;
        margin-top: -12px;
        padding-top: 10px;
        background-color: #DEEBFF;
    }
    .fa-liste-small{
        border-radius: 50%;
    }

    .li-filtre{

        width: 160px;
    }

    .info {
        margin-left: 15px;
    }

    .p-info {
        padding: 0;
        margin-left: 10px;
    }

    #filtre {
        list-style: none;
    }

    .h3-filtre {
        width: min-content;
        margin-top: 38px;
        margin-left: 25px;
    }

    #Hébergement {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        width: 98%;
    }

    .hebergement-block {
        margin: 0;
        width: 100%;
        height: min-content;
    }

    .conteneur-hebergement-1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .conteneur-hebergement-2 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
        margin-bottom: 15px;
    }

    .image-hotel, .image-hotel-2 {
        width: 100%;
        height: 150px;
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
        object-fit: cover;
    }

    .conteneur-flex-titre-logo-populaire {
        justify-content: space-between;
    }

    .fas-fa-fleche {
        margin-right: 40px;
    }

    .hebergement-populaire-block {
        width: 100%;
        height: 100%;
        margin-bottom: 60px;
        margin-left: 7px;
        margin-right: 5px;
    }

    .conteneur-hebergement-populaire {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: min-content;
        width: max-content;
        margin: 0;
        margin-bottom: 15px;
    }

    .conteneur-h3-p-hebergement-populaire {
        display: flex;
        flex-direction: column;
        justify-content: ;
        width: max-content;
        height: 100%;
        margin-left: 10px;
        margin-top: 0;
    }

    .element-hebergement-populaire {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 95%;
        width: 92%;
        margin: 0;
        margin-left: 12px;
    }

    .element-hebergement, .element-hebergement-2, .element-hebergement-populaire {
        transition: 1s;
    }

    .element-hebergement, .element-hebergement-2 {
        border-top: none;
        border-right: none;
        border-left: none;
    }


    .element-hebergement:active, .element-hebergement-2:active, .element-hebergement-populaire:active {
        transform: scale(1.3);
        z-index: 2;
    }

    .image-populaire {
        border: solid white;
        border-top-left-radius: 10%;
        border-bottom-left-radius: 10%;
        border-top-right-radius: 10%;
        border-bottom-right-radius: 10%;
        width: 95%;
        height: 140px;
        object-fit: cover;
        padding-left: 3px;
        padding-top: 0;
    }

    .image-populaire-small {
        border: solid white;
        border-top-left-radius: 10%;
        border-bottom-left-radius: 10%;
        border-top-right-radius: 10%;
        border-bottom-right-radius: 10%;
        width: 95%;
        height: 140px;
        padding-left: 3px;
        object-fit: cover;
    }

    .image-populaire-mid {
        border: solid white;
        border-top-left-radius: 10%;
        border-bottom-left-radius: 10%;
        border-top-right-radius: 10%;
        border-bottom-right-radius: 10%;
        width: 95%;
        height: 140px;
        padding-left: 3px;
        object-fit: cover;
    }

    .titre-hotel, .titre-hotel-2, .titre-hotel-3, .prix-hotel, .prix-hotel-2, .prix-hotel-3 {
        width: 200px;
        height: min-content;
    }

    .fa-star-blue {
        margin: 0;
        margin-bottom: 15px;
    }



    #Activités {
        height: 100%;
        width: 100%;
    }

    .conteneur-activite {
        display: flex;
        flex-direction: column;
        height: max-content;
    }

    .conteneur-activite-2 {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: max-content;
    }

    .element-activite {
        height: 70%;
        width: 80%;
        border-radius: 10%;
        box-shadow: -1px 2px 30px -10px rgba(59, 58, 58, 0.7);
        margin: 0;
        padding: 0;
        margin-left: 9%;
        text-align: center;
        border-top: solid  white;
        background-color: white;
        margin-top: 20px;
        transition: calc(1s);
    }

    .element-activite-2 {
        width: 100%;
        border-radius: 10%;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        transition: calc(1s);
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .image-activite {
        margin: 0;
        padding: 0;
        border: 0;
        border-radius: 0;
        width: 100%;
        height: 200px;
        object-fit: cover;
        text-align: center;
    }

    .image-activite-2 {
        width: 300px;
        height: 130px;
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
        object-fit: cover;
        padding-top: 15px;
    }

    .Pomègues-activite {
        width: max-content;
        height: min-content;
    }

    .Pomègues-activite, .Frioul-activite, .parc-activite, .ND-activite {
        height: 100%;
        margin-top: 0;
    }

    .vieux-port-activite{
        border-radius: 0;
        margin-top: 30px;
    }

    .parc-nat-activite{
        margin-top: 30px;
    }

    article {
        height: max-content;
    }

    .h3-activite-big {
        padding-bottom: 25px;
    }

    #titre-activite {
        text-align: center;
        margin-left: 0;
        margin-bottom: 40px;
    }

    .element-activite {
        transition: calc(1s);
    }

    .element-activite-2 {
        transition: calc(1s);
    }

    .lien-activite {
        transition: calc(1s);
    }


    .element-activite:active, .lien-activite:active {
        transform: scale(1.2);
        z-index: 2;
    }


    footer {
        padding-left: 10px;
        width: 100%;
    }

    .li-footer:hover{
        visibility: hidden;
      }

    .li-footer:active {
        color: #0065FC;
    }








}